* { margin: 0px;
padding: 0px; outline: 0;
}
html, body { width: 100%;}

/*body { background: #366;
font-family: Verdana, Arial, Helvetica, sans-serif;
}*/
#menu {  text-align: center;
font-size: 0.7em;
/*width: 320px;*/
margin: 0px;
}
#menu ul { list-style-type: none;font-family: Verdana, Arial, Helvetica, sans-serif;
margin-top:2px;
}
#menu ul li.nivel1 { 
width: 162px;
}
#menu ul li.primera { /*border-top: solid 1px #FFF;*/
border:0.3ex solid #5C743D;
border-radius: 10px;
}
#menu ul li a {display: block;
text-decoration: none;
color: #030;
background-color: #99CC66;
border: solid 1px #fff;
border-top: none;
padding: 8px;
position: relative;
}
#menu ul li:hover {position: relative;
background-color: #D5EDB3;
color: #000;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color:#D5EDB3;
color: #000;
position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
position: absolute;left: 162px;top:-1px!important;top: -31px;
}
#menu ul li ul li a {width: 160px;
background-color: #D5EDB3;
color: #000;
}
#menu ul li ul li a:hover {position: relative;
background-color: #99CC66;
}

#menu ul li ul li
{
border:0.3ex solid #5C743D;
border-radius: 10px;
border-top:0px;
}

#menu ul>li.nivel1{
border:0.3ex solid #5C743D;
border-radius: 10px;
border-top:0px;
cursor:alias;
}